.header{
    box-shadow: 0 0 10px #00000040;
    padding: 1rem 0;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

}

@media (min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}